AUTH0_DOMAIN=footy-picker.uk.auth0.com
AUTH0_CLIENT_ID=3m3ZPAsNNHRG8mP26nTwKbdMt5ToOwh5
AUTH0_CLIENT_SECRET=ycIoMTV-VWVZof6IczvM1PffSomV4IE9IKskINpkM2yRx1M_K4OJFNBFZ2YNJAFr
AUTH0_AUDIENCE=https://footy-picker.uk.auth0.com/api/v2/

VITE_AUTH0_DOMAIN=footy-picker.uk.auth0.com
VITE_AUTH0_CLIENT_ID=3m3ZPAsNNHRG8mP26nTwKbdMt5ToOwh5
VITE_AUTH0_AUDIENCE=https://footy-picker.uk.auth0.com/api/v2/

VITE_MIXPANEL_TOKEN=your_mixpanel_project_token_here

